@using eDoc.Web.Models.Home
@{
    ViewBag.Title = "Головна";
    var appName = eDoc.Web.Base.App.Settings.AppName;
    var amount = "NNN";
    var descr = $"Це потужний інструмент для роботи з пацієнтами та лікарями<br/>Зручний сервіс та висока якість - доступні кожному.";
    descr += $"<br/><br/>Нас обрало вже {{{amount}}} людей в Україні!";
}

@model LatestBlogsViewModel
<style>
    .content-container {
        position: relative;
    }

    .header {
        height: 150px;
        background-color: white;
    }

    .home-menu {
        height: 40px;
        background-color: #3D3D3D;
    }

    .main-img {
        height: 560px;
        background-color: blue;
        background: url('../../Content/img/12-50-secrets-hospitals-our-human-side_560.jpg') center no-repeat;
    }

    .half-clickable, .half-clickable-link {
        background-color: #303030;
        opacity: 0.5;
        height: 560px;
        width: 50%;
        display: inline-block;
        float: left;
        cursor: pointer;
    }

        .half-clickable:hover {
            background-color: transparent;
        }

    .half-clickable-link {
        background-color: transparent;
    }

        .half-clickable-link:hover {
            background-color: transparent;
            cursor: pointer;
        }

    .block-scope {
        background: yellow;
        height: 500px;
        width: 750px;
        margin-top: -50px;
        margin-left: calc(50% - 375px);
    }

        .block-scope .row {
            margin: 0;
        }

    .menu-option {
        display: inline-block;
        color: #F9FAF4;
        font-size: 16pt;
        padding: 5px 10px;
        font-weight: 500;
    }

        .menu-option:hover {
            color: #76CB0B;
            cursor: pointer;
            text-decoration: none;
        }

        .menu-option:visited {
            text-decoration: none;
        }

    .blog-section {
        background-color: greenyellow;
    }

    .contacts-section {
        background-color: lawngreen;
        height: 300px;
    }

    #contacts, #blog {
        margin-top: 10px;
    }

    .go-up {
        position: fixed;
        left: 20px;
        bottom: 0;
        color: white;
        width: 100px;
        height: 50px;
        background-color: #3D3D3D;
        opacity: 0.25;
        /*transform: rotate(-90deg);*/
    }

        .go-up:hover {
            opacity: 0.75;
            cursor: pointer;
            color: white;
            text-decoration: none;
        }

        .go-up:visited {
            text-decoration: none;
        }

    .branding-title {
        font-weight: 500;
        font-size: 25pt;
        color: #3d3d3d;
    }

    .you-are {
        font-weight: 500;
        font-size: 25pt;
        color: white;
        height: 50px;
        position: absolute;
        top: 0;
        margin-top: 25px;
        margin-left: calc(50% - 50px);
    }

    .branding-descr {
        font-weight: 400;
        font-size: 12pt;
        color: #3d3d3d;
    }

    .logo-hospital {
        position: absolute;
        top: 10px;
        height: 128px;
        width: 128px;
        left: 100px;
        background: center no-repeat;
        /*background-image: url('');*/
        /*background-image: url('../../Content/img/logo-hospital.png');*/
    }

    .service-icon {
        height: 64px;
        width: 64px;
        margin-top: 25px;
        margin-left: 93px;
    }
    .service-content {
        color: white;
    }
    .block-text {
        position: absolute;
        padding-top: 32px;
    }
    .block-overflow {
        height: 250px;
        width: 250px;
        background-color: #3D3D3D;
        opacity: 0.5;
        position: absolute;
    }
    .block-img {
        position: absolute;
        overflow: hidden;
        width: 250px;
    }
</style>
<div id="main-content-holder">
    <section id="home">
        <div class="row header">
            <div class="col-xs-3">
                <div class=""><img src="../../Content/img/new-logo.png" height="128" width="128" /></div>
            </div>
            <div class="col-xs-9">
                <div style=color: black;" class="row branding-title text-center">@appName - якість, якій можна довіряти
                <a style="font-size: 12pt; float: right; margin: 10px;" href="/Account/Login">Log in</a></div>
                <div style=color: black;" class="row branding-descr text-center">@Html.Raw(descr)</div>
            </div>
        </div>
        <div class="row home-menu text-center">
            <a href="#home" class="menu-option">Головна</a>
            <a href="#services" class="menu-option">Наші послуги</a>
            <a href="#blog" class="menu-option">Блог</a>
            <a href="#contacts" class="menu-option">Контакти</a>
        </div>
    </section>
    <div class="row content-container">
        <div class="main-img text-center" style="position: relative;">
            <div id="clickable-left-target" class="half-clickable">&nbsp;</div>
            <div id="clickable-right-target" class="half-clickable">&nbsp;</div>
            <div class="you-are" style="font-size: 36pt;">Ви...</div>
            <div class="clickable-container" style="position:absolute; top: 0; left: 0; width: 100%; height: 560px;">
                <a href="/Registration/Patient">
                    <div id="clickable-left" style="color: white; font-size: 36pt; font-weight: 500; opacity: 0.75; " class="half-clickable-link">
                        <div style="margin-top: 375px; width: 250px; float: left;">Пацієнт</div>
                    </div>
                </a>
                <a href="/Registration/Doctor">
                    <div id="clickable-right" style="color: white; font-size: 36pt; font-weight: 500; opacity: 0.75; " class="half-clickable-link">
                        <div style="margin-top: 375px; width: 250px; float: right;">Лікар</div>
                    </div>
                </a>
            </div>
        </div>
        <section id="services">
            <div class="row block-scope">
                @*blocks*@
                <div class="row" style="position: relative; background: green; height: 250px">
                    <div id="cell00" style="width: 250px; top: 0; left: 0; position: absolute; height: 250px; background-color: brown;">
                        <div class="block-img text-center">
                            <img height="250" src="~/Content/img/ask eye doctor.jpg" />
                        </div>
                        <div class="block-text block-overflow">

                        </div>
                        <div class="service-content text-center block-text" style="padding-top: 96px;">
                            <h2>Якісний і зручний сервіс</h2>
                        </div>
                    </div>
                    <div style="width: 250px; top: 0; left: 250px; position: absolute; height: 250px; background-color: chartreuse">
                        <img src="~/Content/img/appointment.png" class="service-icon" />
                        <div class="service-content text-center">
                            <h2>Планування візитів</h2>
                            <p>Ви можете легко домовитись та спланувати візит до вашого лікаря</p>
                        </div>
                    </div>
                    <div style="width: 250px; top: 0; left: 500px; position: absolute; height: 250px; background-color: yellow;">
                        <div class="block-img text-center">
                            <img height="250" style="margin-left: -64px;" src="~/Content/img/11-50-secrets-hospitals-wont-tell-you-doctors-in-network.jpg" />
                        </div>
                        <div class="block-text block-overflow">

                        </div>
                        <div class="service-content text-center block-text" style="padding-top: 96px;">
                            <h2>Сертифіковані спеціалісти</h2>
                        </div>
                    </div>
                </div>
                <div class="row" style="background: blue; position: relative; height: 250px">
                    <div style="width: 250px; top: 0; left: 0; position: absolute; height: 250px; background-color: brown;">
                        <img src="~/Content/img/pill-white.png" class="service-icon" />
                        <div class="service-content text-center">
                            <h2>Високоякісне лікування</h2>
                            <p>Лікар вибере для вас найбільш підходящу рецептуру</p>
                        </div>
                    </div>
                    <div style="width: 250px; top: 0; left: 500px; position: absolute; height: 250px; background-color: chartreuse">
                        <img src="~/Content/img/blank-white.png" class="service-icon" />
                        <div class="service-content text-center">
                            <h2>Електронний облік</h2>
                            <p>Отримуйте останню інформацію де б ви не були</p>
                        </div>
                    </div>
                    <div style="width: 250px; top: 0; left: 250px; position: absolute; height: 250px; background-color: brown;">
                        <div class="block-img text-center">
                            <img height="250" style="margin-left: -64px;" src="~/Content/img/09-50-secrets-hospitals-what-we-get-right.jpg" />
                        </div>
                        <div class="block-text block-overflow">

                        </div>
                        <div class="service-content text-center block-text" style="padding-top: 96px;">
                            <h2>Якісна консультація</h2>
                        </div>
                    </div>
                </div>
                @*<div class="row" style="background: yellow; position: relative; height: 250px">
                        <div style="width: 250px; top: 0; left: 0; position: absolute; height: 250px; background-color: chartreuse"></div>
                        <div style="width: 250px; top: 0; left: 250px; position: absolute; height: 250px; background-color: yellow;"></div>
                        <div style="width: 250px; top: 0; left: 500px; position: absolute; height: 250px; background-color: brown;"></div>
                    </div>*@
            </div>
        </section>
    </div>
    <section id="blog">
        <div class="row blog-section" style="background-color: whitesmoke;">
            @foreach (var pst in Model.Blogs)
            {
                <div class="col-md-4 col-sm-12 col-xs-12" style="padding: 5px 15px;">
                    <div class="col-md-2 col-sm-1 col-xs-2"><img src="@pst.Avatar" height="64" width="64" /></div>
                    <div class="col-md-10 col-sm-11 col-xs-10" style="float: left">
                        <div class="col-md-12 " style="font-size: 20pt; font-weight: 400; overflow: hidden; text-overflow: ellipsis; height: 35px; white-space: nowrap; ">
                            @pst.Title
                        </div>
                        <div class="col-md-12" style="font-size: 10pt; color: darkgray"><a href="#blogs">@pst.Author</a>, @pst.CreationDate.ToLongDateString()</div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="font-size: 12pt; height: 180px; text-overflow: ellipsis; overflow-y: hidden;">@pst.Content</div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="font-size: 12pt;"><a href="#blogs">Читати далі...</a></div>
                    <hr />
                </div>
            }
        </div>
    </section>
    <section id="contacts">
        <div class="row contacts-section">
            <div class="col-md-5 col-md-offset-1">
                <div id="map_canvas" style="width: 100%; height: 500px;"></div>
            </div>
            <div class="col-md-6" style="background-color: white; height: 300px;">
                <h3>Контактна інформація</h3>
                <hr />
                <h4 style="color: #3d3d3d">Наші телефони: 123456789, 987654321 [8:00-20:00 Mn-Fd]</h4>
                <h4 style="color: #3d3d3d">Наш імейл: <a href="mailto:dev@e-doc.domain">dev@e-doc.domain</a></h4>
                <hr />
                <h4 style="color: #3d3d3d">Наша адреса: Улица Пушкина, Дом Колотушкина ;)</h4>
            </div>
        </div>
    </section>
</div>
<a href="#home" class="go-up text-center">
    <div style="margin: 10px; font-size: 14pt;">Go up!</div>
</a>
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script>
    $('#clickable-left').mouseover(function () {
        $('#clickable-left-target').css('background-color', 'transparent');
        $('#clickable-left').children().css('background-color', '#3d3d3d');
    }).mouseout(function () {
        $('#clickable-left-target').css('background-color', '#303030');
        $('#clickable-left').children().css('background-color', 'transparent');
    });
    $('#clickable-right').mouseover(function () {
        $('#clickable-right-target').css('background-color', 'transparent');
        $('#clickable-right').children().css('background-color', '#3d3d3d');
    }).mouseout(function () {
        $('#clickable-right-target').css('background-color', '#303030');
        $('#clickable-right').children().css('background-color', 'transparent');
    });
    $('#cell00').flip();
    $('#cell00').click(function () {
        $(this).flip();
    })

    var parliament = new google.maps.LatLng(59.327383, 18.06747);
    var marker;

    function initialize() {
        var myOptions = {
            zoom: 12,
            center: parliament,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);

        var marker = new google.maps.Marker({
            position: parliament,
            map: map,
            title: "Hello World!"
        });
    }
    initialize();
</script>